certifi==2020.12.5
chardet==4.0.0
colorama==0.4.4
commonmark==0.9.1
greenlet==1.0a1
idna==2.10
playwright==0.171.1
pyee==8.1.0
Pygments==2.7.4
requests==2.25.1
rich==9.8.2
selenium==3.141.0
selenium-stealth==1.0.6
six==1.15.0
spotipy==2.16.1
TikTokApi==3.8.9
typing-extensions==3.7.4.3
urllib3==1.26.2
